{
	"jsc": {
		"parser": {
			"syntax": "typescript",
			"tsx": false,
			"dynamicImport": false,
			"exportDefaultFrom": false,
			"experimental": {
				"keepImportAssertions": true
			}
		},
		"target": "esnext",
		"baseUrl": "./dist",
		"paths": {
			"@src/*": ["/*"]
		}
	},
	"isModule": true,
	"module": {
		"type": "es6",
		"ignoreDynamic": false
	},
	"sourceMaps": true,
	"minify": true
}
