{
	"jsc": {
		"parser": {
			"syntax": "typescript",
			"tsx": false,
			"decorators": true,
			"dynamicImport": true,
			"isModule": true,
			"exportDefaultFrom": false
		},
		"target": "es2020",
		"baseUrl": "./",
		"paths": {
			"@src/*": ["dist/*"]
		}
	},
	"isModule": true,
	"module": {
		"type": "commonjs"
	},
	"minify": true
}
